# Server Port
PORT=5000

# OpenAI API Key
OPENAI_API_KEY=

# Email Credentials
EMAIL_USER=
EMAIL_PASS=


# LinkedIn Credentials
LINKEDIN_EMAIL=
LINKEDIN_PASSWORD=

# Search Configuration
SEARCH_KEYWORD=full stack developer
ROLE=Full Stack Developer
SCROLL_LIMIT=10
