<p>Hello ${name},</p>

<p>
  I am excited to apply for the <b>Full-Stack Developer</b> position at
  <b>${company}</b>. With hands-on experience in building scalable web and
  mobile applications, I have worked extensively with
  <b>Next.js</b>, <b>Node.js</b>, <b>TypeScript</b>, <b>MongoDB</b>,
  <b>React</b> and <b>AWS</b>. I’ve developed and enhanced applications involving
  <b>RESTful APIs</b>, authentication systems, real-time features, cloud
  integrations, and performance-focused UI/UX improvements.
</p>

<p>
  I enjoy solving real-world problems through clean and efficient development,
  and I am always eager to learn and adapt to modern technologies. My
  experience working on ERP systems, chatbot integrations, and full-stack
  products has strengthened my ability to contribute effectively in fast-paced
  development environments.
</p>

<p>
  Attached is my resume, and I would welcome the opportunity to discuss how my
  technical skills and enthusiasm can contribute to <b>${company}</b>. Please
  let me know a suitable time for us to connect.
</p>

<p>Thank you for considering my application!</p>

<p>Best regards,</p>
<p>
  <b>Shubh Maheshwari</b><br />
  Phone: +91 6261427004<br />
  <a href="https://www.linkedin.com/in/shubh-maheshwari">LinkedIn Profile</a>
</p>